/* Universal styles */

html {}

.flex {
	display: flex;
}

ul {
	list-style: none;
}

a {		
	text-decoration: none;
}

/* Nav section */

nav {
	justify-content: space-between;
}

nav li {
	display: inline;
}

/* Banner section */

banner {}