$font-family-sans-serif: // Safari for OS X and iOS (San Francisco)
-apple-system, // Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont, // Windows
"Segoe UI", // Android
"Roboto", // Basic web fallback
"Helvetica Neue",
Arial,
sans-serif, // Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
/* Universal styles */

html {
	font-size: 16px;
}

.flex {
	display: flex;
}

.lead {
	font-weight: bold;
}

/* Nav section */

nav {
	justify-content: space-between;
	align-content: center;
	background-color: white;
	height: 4rem;
	padding: 1rem 1.5rem;
}

nav a {
	color: black;
}

.logo {
	display: inline-flex;
	flex-direction: row;
	align-content: center;
}

.logo img {
	height: 2rem;
}

#logo-text {
	height: 1rem;
}

#grey-color {
	color: gray;
}

nav li {
	display: inline;
	margin-left: 1rem;
}

/* Jumbotron section */

.jumbotron.diplay-4 {
	font-weight: bolder;
}

.jumbotron img {
	width: 60%;
	margin: 2rem 1.5rem;
}

.learn.flex {
	flex-direction: column;
	justify-content: center;
}

button {
	background-color: #373737;
}

button a {
	color: white;
	font-weight: bold;
	font padding: .5rem;
}

button a:hover {
	text-decoration: none;
}

/* Information and Thesis sections */

.information ul,
.thesis ul {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 2rem 1.5rem;
}

.information li,
.thesis li {
	display: flex;
	flex-direction: row;
}

.information ul img,
.thesis ul img {
	height: auto;
	/* 	width: 35%; */
	margin: 1rem;
}

.image-container {
	width: 35%;
}

.image-container img {
	width: 100%;
}

.information-text,
.thesis-text {
	flex-direction: column;
	justify-content: center;
	margin: .5rem auto;
	width: 65%;
}

.information-feature,
.thesis-feature {
	width: 60%;
	margin: 2rem 1.5rem;
}

video {
	width: 100%;
}

.information-feature h2,
.thesis-feature h2 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.blockquote-footer {
	justify-content: space-between;
	margin-bottom: 2rem;
}

/* Courses section */

.courses {
	background-color: grey;
	padding: 2rem 4.5rem;
}

.courses-boxes {
	flex-flow: row wrap;
	justify-content: space-between;
}

.courses h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.course-box {
	background-color: white;
	margin: 1rem;
}

.course-box-text {
	padding: 1rem 1rem 1.5rem;
}

.course-box img {
	height: auto;
}

/* Thesis section */

/* Footer section */

#footer {
	margin: 1rem 1.5rem;
}

.footer a {
	text-decoration: none;
	color: black;
	margin-left: .5rem;
}